{{ define "title" }}{{ .Worker }} - {{ .Runnable }} - Enrich{{ end }}
{{ define "css" }}
<link rel="stylesheet" href="../routes/static/enrich.css"/>
{{ end }}
{{ define "html" }}
<div class="header">Options</div>
<div class="table">
    <div class="row">
        <div class="cell">Store samples</div>
        <div class="cell">
            <label class="toggle" id="store-samples">
                <span class="slider"></span>
            </label>
        </div>
    </div>
</div>
{{ end }}
{{ define "js" }}
<script type="text/javascript" src="../routes/static/enrich.js"></script>
<script>
    enrich.init();
</script>
{{ end }}
{{ template "base" . }}
